*{
    box-sizing:border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.header{
    background-color:#1F2937;
    height:15vh;
    width:100vw;
    display:flex;
    justify-content:center;
    margin-right:40px;
    
}

.header-logo,
.header-links{
    margin-top:15px;
}

.header-logo{
    color:#F9FAF8;
    
    font-size:24px;
  
}

.header-links{
    color:white;
    display:flex;
    margin-left: 570px;
}

.top-page{
    background-color: #1F2937;
    height:40vh;
    width:100vw;
    display:flex;
   
}

.top-title{
    font-size:48px;
    font-weight:900;
    color:#F9FAF8;

}

.top-caption{
    font-size:18px;
    color:#E5E7EB;
}

.top-content{
    max-width:500px;
    margin-left:20%;
    margin-right:20px;
}
.top-button button{
    background-color:#3882F6;

}

.content{
    display:flex;
    width:100vw;
    height:25vh;
    flex-direction:column;
    align-items:center;
    
}

.content-title{
    font-size: 36px;
    font-weight:900px;
    color:#1F2937;

    margin:50px;

}

.content-images{
    display:flex;
   
   
   
}