*{
    box-sizing:border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.header{
    background-color:#1F2937;
    height:15vh;
    width:100vw;
    display:flex;
    justify-content:center;
    margin-right:40px;
    
}

.header-logo,
.header-links{
    margin-top:15px;
}

.header-logo{
    color:#F9FAF8;
    
    font-size:24px;
  
}

.header-links{
    color:white;
    display:flex;
    margin-left: 570px;
}

.top-page{
    background-color: #1F2937;
    height:40vh;
    width:100vw;
    display:flex;
   
}

.top-title{
    font-size:48px;
    font-weight:900;
    color:#F9FAF8;

}

.top-caption{
    font-size:18px;
    color:#E5E7EB;
    max-width:450px;
}

.top-content{
    max-width:500px;
    margin-left:20%;
    margin-right:20px;
}
.top-button button{
    background-color:#3882F6;
    font-size:15px;
    border-color:#3882F6;
    padding:8px;
     width:130px;
     margin-top:10px;
     color:#E5E7EB;
     font-weight:900;
     border-radius:12px;
}

.content{
    display:flex;
    width:100vw;
    height:60vh;
    flex-direction:column;
   
    align-items:center;
    
}

.content-title{
    font-size: 36px;
    font-weight:900px;
    color:#1F2937;

    margin:50px;

}

.content-images{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;
}
.content-images img{
    max-width:200px;

}

.content-captions{
    display:flex;
    justify-content:space-between;
    max-width:900px;
    gap:100px;
}


.quote-section{
    padding:110px;
    width:100vw;
    height:50vh;
    background-color:#E5E7EB;
    font-size:36px;
    font-weight:lighter;
    font-style:italic;
    color: #1F2937;
}

.quote-main{
    max-width:50%;
    margin:0 auto;
}

.quote-author{
    font-size:18px;
   margin-left:1070px;
}

.end-page{
    width:100vw;
    height:40vh;
    background-color:white;
    display:flex;
    justify-content:center;
    align-items:center;

}

.advert{
    width:60vw;
    height:15vh;
    background-color:#3882F6;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
}

.advert-title{
    font-size:24px;
    color:#F9FAF8;
}

.advert-content{}

.advert-btn{
    align-self:center;
 
}